:root {
    --gray: #a3a3c2;
    --bue: #6699ff;
    --blue2: #4d88ff;
    --blue3: #3377ff;
    --white: #fff;
    --black: #000;
    --gray2: #b1b1cd;
    --li-hover: #f0f0f5;
    --a-hover: #666699;
    --dropdown: #46466d;
    --stars-empty: #CCC;
    --stars-filled: #FC0;
    --gray3: rgb(128,128,128);
    --button-hover: #00ff00;
    --blue: #0066ff;

}


 header{
    margin-bottom: 20px;
}

nav.navbar.navbar-light.navbar-expand-lg.sticky-top {
    padding: 25px 0 25px 0;
/*     box-shadow: 0 0 0.5em rgba(0, 0, 0, .5);
 */

}
div.navbar.navbar-expand-lg{
    height: 30px;
}
#navbar-top header a.nav-link, #navbar-top a.nav-link{
    color: #fff;
}

#pre-header {
    margin-top: -10px;
}
#pre-header a.nav-link{
    font-size: 13px;
}
#pre-header1 a.nav-link{
    font-size: 1em;
}

#pre-header1 ul {
    display: flex;
    justify-content: start;
}

#pre-header2   li{
    border-right: 1px dotted #fff;
}
#pre-header2   li:last-child{
    border-right: none;
}
ul {
    display: flex;
    justify-content: end;
}


div.input-group {
    margin: 0px;
}
input.form-control{
    border-radius: 20px;
    width: 100%;
    font-size: 1rem;
}
i.fas.fa-search::before{
    color: #fff;
    border: none;
}
button#pesquisa-botao{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: var(--gray2);
    transition: filter 0.2s;

}
button#pesquisa-botao span {
    display: none;
}
button#pesquisa-botao:hover{
    filter: brightness(1.1)

}

a#icone-usuario.nav-link {
    width: 150px;
}


div#grupos-web.container-fluid {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    margin:0 auto;
    box-shadow: 0 0 1em rgba(0, 0, 0, .5);
    text-transform: capitalize;
/*     box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, .5);
 */}
#grupos-web {
    margin-top: 2px;
}

#grupos-web div.navbar {
    margin: 21px 0;
    text-align: center;
}
#grupos-web li.nav-item {
    margin: 0;
    border-right: 1px #fff solid;
}
#grupos-web img {
    height: 40px;
}
#grupos-web li.nav-item:last-child {
    border: none;
}
#grupos-web li.nav-item:hover {
    background-color: var(--li-hover);
    transition: background-color 0.7s;
    border-radius: 5px;
}
#grupos-web a.nav-link {
    color: #000;
    width: 200px;
    text-transform: capitalize;
    overflow-x: hidden;
}
#grupos-web a.nav-link:hover {
    color: #666699;
    border-bottom: 1px solid var(--gray);
    /* background: url('../img/angle-double-right-solid.svg') no-repeat left center;
    background-size: 2em; */
}

#conteudo1, #conteudo2, #conteudo3, #conteudo4, #conteudo5, #conteudo6, #conteudo01, #conteudo02, #conteudo03, #conteudo04, #conteudo05, #conteudo06 {
    display: none;
    padding-left: 50px;
  }

 
 #conteudo7, #conteudo8, #conteudo9, #conteudo10, #conteudo11, #conteudo12 {
    display: none;
    padding-left: 50px;
  }

/* 
------------- Menu lateral  ----------------
*/

div#grupos-mobile {
    display: none;
    width: 102%;
}
button#botao-grupos.btn {
    margin: 10px;
    background: var(--gray3);
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
aside h2 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 40px;
    border-bottom:1px solid var(--gray3);

}
/*
-- Formatando links --
*/
#aside-nav nav.navbar{
    background: var(--white);
    margin: 20px;
    border-radius: 5px;
    display: block;
}



/*
-- Formatando links --
*/
#aside-nav nav a.nav-link {
    background: url(../img/caret-right-solid.svg) no-repeat left center;
    background-size: 6px;
    padding-left: 15px;
    color: #000;
    border-bottom: 0.5px solid lightgray;
    transition: 0.3s;
    text-transform: capitalize;
}
#aside-nav nav a.nav-link:hover {
    padding-left: 20px;
    color: var(--a-hover);
    font-weight: bold;
    border-bottom: 0.5px solid var(--a-hover);

} 
#aside-nav nav a.nav-link.link-subgrupo{
    background: none;
    padding-left: 40px;
    border: none;
}

#aside-nav nav a.nav-link.link-subgrupo:hover {
    padding-left: 50px;
    color: green;
    font-weight: bold;

} 

@media (min-width: 991.98px) { 
    
    button#botao-grupos.btn {
      display: none;
    }
}

@media (max-width: 991.97px) { 
    form.col-md-12.input-group input {
        margin: 20px 0;
        font-size: 1rem;
        width: fit-content;
    }
    .btn-group {
      display: none;
    }

    h6 {
      margin-top: 20px;
      text-transform: uppercase;
    }

    div.input-group {
      margin: 20px 0 20px 0;
    }

    div#grupos-web.container-fluid {
      display: none;
    }

    button#dropdownMenu2.btn.btn-secondary.dropdown-toggle {
      display: block;
      width: 100%;
    }

    #produtos {
        flex-direction: column;
    }
   
   }
