table {
    width: 100%; 
    border-spacing: 0 0.5rem;
}
th {
    padding: 1.2rem 2rem;
    line-height: 1.5rem;
    font-weight: 500;   
    text-transform: uppercase; 
    border: 1px solid var(--gray3);
    background: var(--gray);
    color: var(--white);

}

td {
    padding: 1rem 2rem;
    color: var(--black);
    border-radius: 0.25rem;
    border: 1px solid var(--gray3);
}
main h2 {
    border-bottom: 1px solid var(--gray3);
    margin-bottom: 1.5rem;
}
.produto {
    width: 400px;
}

table a.nav-link {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--gray);
    transition: filter 0.2s;

}
table a.nav-link:hover {
    filter: brightness(0.9);
    

}
@media (max-width: 460px) {
    table {
        text-align: left;
    }
    th {
        font-size: 0.5rem;
    }
    
    td {
        font-size: 0.45rem;
        
    }
}
@media (max-width: 700px) {
    table {
        font-size: 0.8rem;
        text-align: left;
    }
    th {
        
    }
    
    td {
        
    }
    .produto {
        width: 100px;
    }
    .cupom {
        width: 100%;
    }
}
@media (max-width: 768px) {
    table {
        font-size: 0.7rem;
    }
    th {
        padding: 0.5rem 1rem;
    }
    
    td {
        padding: 0.5rem 1rem;
        
    }
    .produto {
        width: 300px;
    }
    .cupom {
        width: 100%;
    }
    .cupom label {
    }
    table#fechamento-carrinho {
        width: 100%;
    }
    button#mais-produtos.btn.btn-lg, button#finalizar-compra.btn.btn-lg {
        display: block;
        width: 100%;
    }
}